body{
    margin: 0;
    padding: 0;
}
header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cyan;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

header ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin-top: 30px;
}

main .left{
    width: 500px;
}

main .left .p1{
    font-size: 30px;
    margin-bottom: 0;
    font-weight: bold;
}
main .right img{
    border-radius: 20px;
}

main .left .btn1{
    background-color: cyan;
    cursor: pointer;
}