body{
    margin: 0;
    padding: 0;
}
header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cyan;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

header ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}


main .section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 80px;
}

main .section1 .left{
    width: 500px;
}

main .section1 .left .p1{
    font-size: 30px;
    margin-bottom: 0;
    font-weight: bold;
}
main .section1 .right img{
    border-radius: 20px;
}

main .section1 .left .btn1{
    background-color: cyan;
    cursor: pointer;
}

main .s-div{
    background-color: aquamarine;
    padding: 10px 80px 40px 80px;
    margin-bottom: 50px;
}

main .section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .section2 div{
    height: 200px;
    width: 350px;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .service-text{
    text-align: center;
}

main .section2 div p{
    padding: 0 20px;
}
